/.idea/
/.gradle/
/gradle/wrapper/
/Cinema Room Manager/task/build/tmp/test/jar_extract_4382633039093410823_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_11781779183213544279_tmp
/Cinema Room Manager/task/build/tmp/test/jar_extract_14658035418062445821_tmp
/Cinema Room Manager/task/out/production/classes/cinema/Cinema.class
/Cinema Room Manager/task/build/classes/java/main/cinema/Cinema.class
/Cinema Room Manager/task/build/classes/java/test/CinemaTests.class
/Cinema Room Manager/task/build/reports/tests/test/classes/CinemaTests.html
/Cinema Room Manager/task/build/reports/tests/test/css/base-style.css
/Cinema Room Manager/task/build/reports/tests/test/css/style.css
/Cinema Room Manager/task/build/reports/tests/test/js/report.js
/Cinema Room Manager/task/build/reports/tests/test/packages/default-package.html
/Cinema Room Manager/task/build/reports/tests/test/index.html
/Cinema Room Manager/task/build/test-results/test/binary/output.bin
/Cinema Room Manager/task/build/test-results/test/binary/output.bin.idx
/Cinema Room Manager/task/build/test-results/test/binary/results.bin
/Cinema Room Manager/task/build/test-results/test/TEST-CinemaTests.xml
/Cinema Room Manager/task/build/tmp/compileJava/source-classes-mapping.txt
/Cinema Room Manager/task/build/tmp/compileTestJava/source-classes-mapping.txt
/Cinema Room Manager/task/build/tmp/test/jar_extract_4410039618550921359_tmp
